
.filter-container {
  width: 60%;
  height: 600px;
  background-color: rgba(233, 233, 233, 0.452);
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.322);
  margin-bottom: 50px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

}

form select {
  background-color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  display: grid;
  background: #fff url(../imgs/dropdown-icon.png) no-repeat right;
  background-position-x: 98%;
}



form input {
  width: 90%;
  border: 0.5px solid black;
  border-radius: 35px;
  padding: 5px 20px;
  appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-save {
  background-color: #6beaca;
  border-radius: 35px;
  border: none;
  color: black;
  padding: 10px 25px;
}