body {
  background-color: rgb(200, 200, 200);
}

input {
  border-radius: 35px;
  padding: 10px;
  padding-left: 80px;
  border: none;
  outline: none;
  background: url(../imgs/search-icon.png) no-repeat 4%;
  background-color: rgba(127, 255, 212, 0.596);
  color: rgba(0, 0, 0, 0.726);
}

#main-container {
  background-color: rgb(246, 246, 246);
  padding-top: 50px;
  width: 75%;
  margin: auto;
}

.btn-add {
  background-color: #6beaca;
  border-radius: 35px;
  border: none;
  padding: 8px 100px;
  color: rgb(95, 95, 95);
}

.btn-add p {
  font-size: 1.1rem;
  margin: 0;
}

.plus-icon {
  display: none;
}

#adverts .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#adverts .advert {
  flex-basis: 0;
  flex-grow: 1;
  height: 200px;
  background-color: rgb(255, 77, 77);
}

@media (max-width: 576px) {
  #main-container {
    width: 100%;
  }

  .btn-add {
    width: 90%;
    display: inline;
  }

  .plus-icon {
    display: inline;
    position: absolute;
    left: 80px;
  }
}