body {
  background-color: rgb(200, 200, 200);
}

input {
  border-radius: 35px;
  padding: 10px;
  padding-left: 80px;
  border: none;
  outline: none;
  background: url(../imgs/search-icon.png) no-repeat 4%;
  background-color: rgba(127, 255, 212, 0.596);
  color: rgba(0, 0, 0, 0.726);
}

#main-container {
  background-color: rgb(246, 246, 246);
  padding-top: 50px;
  width: 75%;
  height: 100vh;
  margin: auto;
}

.btn-add {
  background-color: #6beaca;
  border-radius: 35px;
  border: none;
  padding: 8px 100px;
  color: rgb(95, 95, 95);
}

.btn-add p {
  font-size: 1.1rem;
  margin: 0;
}

.plus-icon {
  display: none;
}

.adverts {
  background-color: rgb(246, 246, 246);
}

.adverts .container {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;

}

.adverts .advert {
  padding: 5px;
  height: 250px;
  width: 250px;
  background-color: rgb(229, 69, 69);
}

.adverts .advert div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.adverts button {
  background-color: transparent;
  border: none;
}

.adverts .fav-btn {
  width: 30px;
}

.adverts .close-btn {
  width: 25px;
}

.adverts .advert ul  {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;

}

.adverts .advert ul  li {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  #main-container {
    width: 100%;
  }

  .btn-add {
    width: 90%;
    display: inline;
  }

  .plus-icon {
    display: inline;
    position: absolute;
    left: 80px;
  }
}